<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ANTIGLARE</title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <form id="submit" action='/submit' method="post">

    <div class="heading">
      <h2>ANTIGLARE</h2>
      <p>Enter your username</p>
    </div>

    <div class="login_tab">
      <input type="text" id="name" name='username' placeholder="Username" required>
    </div>
    
    <div class="submit">
      <br>
      <button id="login" type="submit" ><b>Get my List</b></button>
      <br>
      <br>
      <br>
    </div>
    
  </form>
  
</body>

</html>